@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --violet: #372772;
    --green: #4fec77;
    --fields: #A3A5C3;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    color: var(--green);
}
.container{
    width: 60vw;
}
.gameboard{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    cursor: pointer;

}
.gameboard-field{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 80px;
    background-color:var(--fields);
}
.gameboard-field:disabled,
.gameboard-field[disabled]{
  border: 1px solid #999999;
  background-color: #d6d1c8;
  color: #666666;
}
.players{
    display: flex;
    gap: 80%;
}
.players div{
    padding: 15px;  
    white-space: nowrap;
}
.players div p{
    display: inline-block;
}
#reset{
    text-align: center;
    width: 300px;
}
  


/* starting site */
a{ 
    color: var(--green);
    text-decoration: none;
}
a.button{
    text-decoration: none;
    padding: 25px;
    border: 1px solid black;
}
.startingContainer{
    overflow: hidden;
    height:40vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playButton {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .45s ease-Out;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--green);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 60px;
    outline: none;
    width: 400px;
}
.playButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.playButton:active {
    box-shadow: none;
    transform: translateY(0);
}
/* .animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
} */